@using TutorUP.Helper.CustomDto
@model ChangePassword
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @await Component.InvokeAsync("_UILayoutHeadComponentPartial")

</head>

<body id="main-body">
    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                        <div class="login-brand">
                            <img src="~/TutorUP/dist/assets/img/TutorUpImage.png" alt="logo" width="100" class="shadow-light rounded-circle">
                        </div>

                        <div class="card card-primary">
                            <div class="card-header"><h4>Reset Password</h4></div>
                            @if (TempData["StatusMessage"] != null)
                            {
                                <div class="alert alert-success">
                                    @TempData["StatusMessage"]
                                    <a class="btn btn-success" href="/Settings/Index">Back To Settings</a>
                                </div>
                                
                            }
                            <div class="card-body">
                                <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
                                </div>
                                <p class="text-muted">Please enter your current password</p>
                                <form method="post" asp-controller="Settings" asp-action="ChangePassword">
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <label for="code">Current Password</label>
                                        <input id="code" type="password" class="form-control" asp-for="OldPassword" tabindex="1" required autofocus>
                                    </div>

                                    <div class="form-group">
                                        <label for="password">New Password</label>
                                        <input id="password" type="password" class="form-control pwstrength" data-indicator="pwindicator" asp-for="NewPassword" tabindex="2" required>
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        <div id="pwindicator" class="pwindicator">
                                            <div class="bar"></div>
                                            <div class="label"></div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="password-confirm">Confirm Password</label>
                                        <input id="password-confirm" type="password" class="form-control" asp-for="ConfirmPassword" tabindex="2" required>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                            Reset Password
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="simple-footer">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")
</body>
</html>