@model TutorUP.EntityLayer.Entity.AppUser

<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
        @if (@Model.ProfileImage == "")
        {
            <img alt="image" src="~/TutorUP/dist/assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
        }
        else
        {
            <img alt="image" src="@Model.ProfileImage" class="rounded-circle mr-1">
        }
        <div class="d-sm-none d-lg-inline-block">Hi, @Model.FirstName @Model.LastName</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <!-- <div class="dropdown-title">Logged in 5 min ago</div> -->
                <a href="/Profile/AuthenticatedUser/" class="dropdown-item has-icon">
                    <i class="far fa-user"></i> Profile
                </a>
                <a href="/Settings/Index" class="dropdown-item has-icon">
                    <i class="fas fa-cog"></i> Settings
                </a>
                <div class="dropdown-divider"></div>
                <a href="/Auth/Logout" class="dropdown-item has-icon text-danger">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </div>
  </li>