@model TutorUP.Helper.CustomDto.LoginDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>TutorUP</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/TutorUP/dist/assets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/TutorUP/dist/assets/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/TutorUP/dist/assets/modules/bootstrap-social/bootstrap-social.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/TutorUP/dist/assets/css/style.css">
    <link rel="stylesheet" href="~/TutorUP/dist/assets/css/components.css">
    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
    <!-- /END GA -->
</head>

<body>
    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                        <div class="login-brand">
                            <img src="~/TutorUP/dist/assets/img/TutorUpImage.png" alt="logo" width="100" class="shadow-light rounded-circle">
                        </div>

                        <div class="card card-primary">
                            <div class="card-header"><h4>Login</h4></div>

                            <div class="card-body">
                                <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
                                </div>
                                <form method="post" asp-controller="Auth" asp-action="Login" class="needs-validation">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input id="email" type="email" class="form-control" asp-for="Email" required autofocus>
                                        <div class="invalid-feedback">
                                            Please fill in your email
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="d-block">
                                            <label for="password" class="control-label">Password</label>
                                            <div class="float-right">
                                                <a href="auth-forgot-password.html" class="text-small">
                                                    Forgot Password?
                                                </a>
                                            </div>
                                        </div>
                                        <input id="password" type="password" class="form-control" asp-for="Password" required>
                                        <div class="invalid-feedback">
                                            please fill in your password
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" asp-for="RememberMe">
                                            <label class="custom-control-label" asp-for="RememberMe">Remember Me</label>
                                           
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                            Login
                                        </button>
                                        <a class="btn btn-danger btn-block my-2" asp-controller="Auth" asp-action="GoogleLogin" asp-route-provider="Google">
                                            <i class="fab fa-google"></i> Sign In with Google
                                        </a>
                                    </div>
                                </form>
                               
                            </div>
                        </div>
                        <div class="mt-5 text-muted text-center">
                            Don't have an account? <a href="/Auth/Register">Create One</a>
                        </div>
                        <div class="simple-footer">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- General JS Scripts -->
    <script src="~/TutorUP/dist/assets/modules/jquery.min.js"></script>
    <script src="~/TutorUP/dist/assets/modules/popper.js"></script>
    <script src="~/TutorUP/dist/assets/modules/tooltip.js"></script>
    <script src="~/TutorUP/dist/assets/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/TutorUP/dist/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/TutorUP/dist/assets/modules/moment.min.js"></script>
    <script src="~/TutorUP/dist/assets/js/stisla.js"></script>

    <!-- JS Libraies -->
    <!-- Page Specific JS File -->
    <!-- Template JS File -->
    <script src="~/TutorUP/dist/assets/js/scripts.js"></script>
    <script src="~/TutorUP/dist/assets/js/custom.js"></script>
</body>
</html>